<div class="container">
  <h2>Brackets</h2>
  <% @tasks.each do |task| %> 
    <div class="card">
        <div class = "card-image-around">
          <%= image_tag task.eyecatch, :class => 'card-image' %>
        </div>
      <div class="card-title">
          <p class = 'card-title-left'><%= task.title %></p>
        <%= image_tag 'Combined Shape.png', :class => 'card-title-right dropbtn' %>
      </div>
        <div class="content">
          <p class = "card-content"><%= task.content %></p>
        </div>
      <%= image_tag 'Oval (1).png', :class => 'card-avatar' %>
    </div>
  <% end %>

  <%= link_to new_board_task_path(@board) do %>
    <div class="new-card">
      <p class="new-board">+ Add new card</p>
    </div>
  <% end %>
</div>