<div class="card">
  <div class="card-title">
    <p class = 'card-title-left'><%= @board.title %></p>
    <%= image_tag 'Combined Shape.png', :class => 'card-title-right dropbtn'%>
  </div>
    <div class="content">
      <p class = "card-content"><%= @board.content %></p>
      <% if user_signed_in? && current_user.has_written?(@board) %>
        <div class="content-drop drop-btn">
          <%= link_to 'Edit', edit_board_path(id: @board.id), class: 'edit-text' %>          
          <%= link_to 'Delete', board_path(@board), data: { method: 'delete', confirm: '本当に削除しますか？' }, class: 'delete-text' %>
        </div>
      <% end %>
    </div>
    <%= image_tag 'Oval (1).png', :class => 'card-avatar' %>
</div>