<div class="container">
  <h2>Brackets</h2>
  <% @tasks.each do |task| %> 
    <div class="card">
      <% if task.eyecatch.attached? %>
        <div class = "card-image-around">
          <%= image_tag task.eyecatch, :class => 'card-image' %>
        </div>
      <% end %>
      <div class="card-title">
          <%= link_to board_task_path(@board.id, id: task[:id]), class: 'task-show' do %>
            <h2 class = 'task-show-title'><%= task.title %></h2>
          <% end %>
      </div>
        <div class="content">
          <p class = "card-content"><%= task.content %></p>
        </div>
      <%= image_tag 'Oval (1).png', :class => 'card-avatar' %>
    </div>
  <% end %>

  <%= link_to new_board_task_path(@board) do %>
    <div class="new-card">
      <p class="new-board">+ Add new card</p>
    </div>
  <% end %>
</div>