<!DOCTYPE html>
<html>
  <head>
    <title>Boardapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <header class="header">
      <div class="container">
        <div class = header-title>
          <h1 class="header-right">Boards</h1>
          <% if user_signed_in? %>
            <%= image_tag 'Oval.png', :class => 'header-avatar-left dropbtn'%>
            <div class="dropdown-content">
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
          <% else %>
              <%= link_to 'ログイン', new_user_session_path, :class => 'loginpage'%>
            </div>
          <% end %>
      </div>
      <div class="line"></div>
    </header>
    <p class="notice fadeOut"><%= notice %></p>
    <p class="alert fadeOut"><%= alert %></p>
    <%= yield %>
  </body>
</html>
